.vscode
.idea
.env
.env.backup
.phpunit.result.cache
.DS_Store
.env.devlpmnt
/node_modules
/vendor
/storage
.gitignore
composer.lock
/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/lang
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
auth.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/framework/cache/data/
/public/assets
/temp
