.stripe-button-el {
    display: none !important;
}

.razorpay-payment-button {
    display: none !important;
}

.custom-radio {
    border: 1px solid #ddd !important;
    clip: auto !important;
    height: 1rem !important;
    position: static !important;
    width: 1rem !important;
}
